consumes:
  - application/json
info:
  description: Hello world plugin API.
  title: thyra-plugin - Hello world
  version: 0.0.0
produces:
  - application/json
schemes:
  - http
swagger: "2.0"
paths:
  /:
    get:
      operationId: defaultPage
      responses:
        "301":
          description: Move to the default endpoint
  /web/{resource}:
    get:
      operationId: web
      produces:
        - application/json
        - text/javascript
        - text/html
        - text/css
        - text/webp
        - image/png
        - image/svg+xml
      parameters:
        - in: path
          name: resource
          type: string
          required: true
          description: Website resource.
      responses:
        "200":
          description: Page found
        "404":
          description: Resource not found.
  /api/hello:
    put:
      operationId: hello
      parameters:
        - in: query
          name: name
          type: string
          description: the name of the person to be greeted.
      produces:
        - application/json
      responses:
        "200":
          description: Greeting content.
          schema:
            type: object
            required:
              - message
            properties:
              message:
                description: Greeting message.
                type: string
                x-nullable: false
        "500":
          description: Internal Server Error - The server has encountered a situation it does not know how to handle.
