on:
  push:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        env:
          GO_VERSION: 1.21
        with:
          go-version: ${{ env.GO_VERSION }}
      - run: go test ./... -coverprofile=coverage.coverprofile
      - uses: codecov/codecov-action@v3
        with:
          files: coverage.coverprofile